<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OO-Zero</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/home.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="static/scripts/underscore.js"></script>
    <link rel="icon"
    type="image/png"
    href="static/Images/dataFav.png">
</head>

<body>
    <div class="headerBar">
        <img class="pythonPic" src="static/Images/python.png">
        <h5 class="headerTitle">00-Zero</h5>
        <img class="pythonPic" src="static/Images/python.png">
    </div>
    <div class="main">
        <section>
            <div class="greeting">
                <h5 class="hello">Hey There!</h5>
                <p class="intro"> Welcome to our web site for managing personal notes and information!</p>

                <p class="statement" style="margin-top:3%;">Sincerely,<br>
                    <h5 class="statement" style="margin-top:0%;">Team OO-Zero</h5>
                    <div id="arrow1" class="downArrow bounce">
                        <img class="arrowPic" alt=""
                            src="static/Images/arrow.png" />
                    </div>
            </div>
    </div>
    </section>

    </div>
    <script
    src="https://code.jquery.com/color/jquery.color-2.1.2.js"
    integrity="sha256-1Cn7TdfHiMcEbTuku97ZRSGt2b3SvZftEIn68UMgHC8="
    crossorigin="anonymous"></script>
    <script src="static/scripts/home.js" async defer></script>
</body>

</html>
